#body {
	background-color: #1B2021;
	color: #E3DCC2;
	font-family: courier;
}
#main {
	background-color: #51513D;
	border-radius: 10px;
	text-align: center;
}
#sub {
	background-color: #A6A867;
	border-radius: 10px;
	text-align: center;
}
#card {
	background-color: #1B2021;
	color: #E3DCC2;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	align-items: center;
}
#button {
	width: 100px;
	text-align: center;
	background-color: #403D39;
	border-color: #403D39;;
	color: #FFFCF2;
}
#footer {
	text-align: center;
	color: #E3DCC2;
}